header {
  background-color: #6c0e0e;
  color: #fff;
  text-align: center;
}

body {
  background-color: #576a4d;
  color: #fff;
  text-align: center;
}

footer {
  color: #000;
  text-align: center;
}
