/* Cristiano | ICS2O-Unit1-04-HTML | Feb 25 2022 */

header {
  background-color: #6366b6;
  color: #fff;
  text-align: center;
}

table, th, td {
  border:1px solid orange;
  background-color:red
}

h2 {
  background-color: #63b671;
  color: #fff;
  text-align: center;
}

ol {
  color: #fff;
  text-align: left;
}

body {
  background-color: #c69595;
  color: #fff;
  text-align: center;
}

footer {
  color: #000;
  text-align: center;
}
